##### Make mini trainnig data

In [12]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

%matplotlib inline 
from IPython.core.interactiveshell import InteractiveShell
from IPython import get_ipython
get_ipython().ast_node_interactivity = 'all'

def p(t=''):
    print('-------'+t+'-------')
    print()
    
CONFIG = {'seed': 23
          }

##### READ data

In [13]:
df = pd.read_csv("../data/raw/jigsaw-toxic-comment-classification-challenge/train.csv")
df['y'] = (df[['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate']].sum(axis=1) > 0 ).astype(int)
df = df[['comment_text', 'y']].rename(columns={'comment_text': 'text'})
df.sample(5)

                                                     text  y
123634  The BCS selections will be officially announce...  0
65343   The article itself is all for global warming w...  0
108386  "\nOMG fun. SO I edited a sandbox that I could...  0
100234  I wanted to know how to make h(x) to protect m...  0
65679                    Francis T. edit\nAnswer in talk.  0

In [21]:
list(df['y'].unique())

[0, 1]

In [31]:
def random_balance_subset(df, n=2000):
    """select random n sample for each class

    Args:
        df (df): with y label as e.g. [0, 1]
        n (int): num
    """
    list_of_dataframes = []
    ys = list(df['y'].unique())
    for y in ys:
        subsample = df[df['y'] == y].sample(n=n, random_state=CONFIG['seed'])
        list_of_dataframes.append(subsample)
    res = pd.concat(list_of_dataframes)
    return res
df_mini = random_balance_subset(df, 500)
df_mini['y'].value_counts()
df_mini.head()
df_mini.reset_index(drop=True, inplace=True)
df_mini.head()

0    500
1    500
Name: y, dtype: int64

                                                     text  y
32504   Oppose For the sake of this decision, I don't ...  0
39965             REDIRECT Talk:Shabab Al-Bireh Institute  0
128463  Rutherford was a supporter of the Haultain gov...  0
66224   I didn't do it \n\nI didn't add improperly cit...  0
65530   "Hang on a minute, scobey. I'm Irish. I'd just...  0

                                                text  y
0  Oppose For the sake of this decision, I don't ...  0
1            REDIRECT Talk:Shabab Al-Bireh Institute  0
2  Rutherford was a supporter of the Haultain gov...  0
3  I didn't do it \n\nI didn't add improperly cit...  0
4  "Hang on a minute, scobey. I'm Irish. I'd just...  0

In [32]:
df_mini.to_csv('vad_mini.csv', index=False)